name: Build and push Docker image

on:
  push:
    branches:
      - main

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    
    steps:     
      - uses: actions/checkout@v4
    
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        
      # - name: Set lowercase repo name
      #   run: |
      #     # echo "REPO=${GITHUB_REPOSITORY@L}" >> "${GITHUB_ENV}"
      #     echo "REPO=$(echo "${GITHUB_REPOSITORY##*/}" | tr '[:upper:]' '[:lower:]')" >> "$GITHUB_ENV"

          
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./orders_serivice
          push: true
          tags: |
            ${{ vars.DOCKER_USERNAME }}/orders_service:latest
            ${{ vars.DOCKER_USERNAME }}/orders_service:latest
            # ${{ vars.DOCKER_USERNAME }}/${{ env.REPO }}/orders-service:${{ github.sha }}
